.primary-button {
  background-color: $primary;
  padding: 15px 30px;
  border-radius: 200px;
  font-size: $fz20;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: none;
  color: white;
}
