footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: $black;

  svg {
    height: 33%;
    width: auto;
    padding: 0 5px;

    & > * {
      stroke: $black;
    }
  }
}
