@import "variables";
@import "utils";
@import "header";
@import "home";
@import "footer";
@import "hero";
@import "contact";
@import "scrollbar";
@import "section-title";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
}

body {
  overflow-x: hidden;
}

.site {
  padding-top: 10vh;
  min-height: 95vh;
}

.about {
  background-color: rgba($primary, .2);
  padding: 50px;

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

  }

  .text {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

}


.testimonials {
  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    justify-content: center;
    border-radius: 10px;
    padding: calc(max(30px, 3vw));
    margin: 30px;

    background: rgb(209, 164, 172);
    background: -moz-linear-gradient(133deg, rgba(209, 164, 172, 0.15) 0%, rgba(0, 87, 255, 0) 100%);
    background: -webkit-linear-gradient(133deg, rgba(209, 164, 172, 0.15) 0%, rgba(0, 87, 255, 0) 100%);
    background: linear-gradient(133deg, rgba(209, 164, 172, 0.15) 0%, rgba(0, 87, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d1a4ac", endColorstr="#0057ff", GradientType=1);
    @media (max-width: $break-1200) {
      width: 100%;
    }

    .img {
      border-radius: 50%;
      overflow: hidden;
      width: 50%;

      img {
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1;
      }
    }
  }

  .quote {
    font-family: Serif;
    font-size: 24px;
    min-height: 200px;
  }
}
