@import "variables";
@import "utils";
@import "header";
@import "home";
@import "footer";
@import "hero";
@import "scrollbar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
}

body {
  overflow-x: hidden;
}

.site {
  padding-top: 10vh;
  min-height: 95vh;
}


