.main-offer {
  .cards {
    .flower {
      width: 70px;
      height: 70px;

      img {
        height: 100%;
        width: auto;
      }
    }

    .title {
      font-weight: bold;
      color: $primary;
      font-size: $fz18;
    }

    .count {
      font-weight: bold;
      font-size: $fz16
    }
  }
}

.album-offer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company-wrapper {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-bottom: 50px;

  & > div {
    background-color: darken($primary, 10%);
    border-radius: 10px;
    padding: 25px;
    color: white;
    display: grid;
    place-items: center;
    font-weight: bold;
  }
}
